#LoginView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #eee;

  .card {
    width: 100%;
    max-width: 500px;
  }

  .form {
    width: 100%;
  }

  .form__forgot {
    float: right;
  }

  .ant-col-rtl .form__forgot {
    float: left;
  }

  .form__button {
    width: 100%;
    margin-bottom: 15px;
  }
}