<div class="c-card c-card--centerpage">
  <div class="c-card__header">
    <div class="c-card__header-title">
      Aggiornamento credenziali di accesso
    </div>

    <ul class="c-card__header-actions">
      <li class="c-card__header-action">
        <a class="c-button c-button--black" href="<%= matilda_core.authentication_login_view_path %>">Vai al login</a>
      </li>
    </ul>
  </div>
  <div class="c-card__body">
    <div class="c-message">
      <div class="c-message__title">Aggiornamento avvenuto correttamente</div>
      <div class="c-message__content c-message__content--small">
        Le tue credenziali sono state aggiornate correttamente. Ora potrai eseguire il login utilizzando la nuova password.
        <br><br>
        <a class="c-button" href="<%= matilda_core.authentication_login_view_path %>">Continua</a>
      </div>
    </div>
  </div>
</div>
