<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24">
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Matilda core
        </div>
      </div>
      <div class="c-card__body">
        <p>La documentazione ufficiale sull'utilizzo e la personalizzazione è mantenuta direttamente sulla <a target="blank" href="https://github.com/ideonetwork/matilda-core/wiki">repository Github</a>.</p>
        <p>Questa pagina è utilizzata principalmente per testare e mostrare i diversi elementi di UI utilizzabili.</p>
      </div>
    </div>
  </div>
</div>

<!-- *******************************************************
ESEMPIO: CARD **********************************************
******************************************************** -->
<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-8">

    <!-- CARD GENERICA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card generica
        </div>
      </div>
      <div class="c-card__body">
        <p>Esempio base di utilizzo di una card.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-8">

    <!-- CARD CON AZIONI -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con una azione.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-8">

    <!-- CARD CON AZIONI MULTIPLE -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni multiple
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con multiple azioni.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-12">

    <!-- CARD CON RICERCA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con ricerca
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <div class="c-input-action">
              <input class="c-input-action__field" name="s" placeholder="Lorem ipsum..">
              <button class="c-input-action__button" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con input di ricerca.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24 c-grid__col--md-12">

    <!-- CARD CON AZIONI E RICERCA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni e ricerca
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <div class="c-input-action">
              <input class="c-input-action__field" name="s" placeholder="Lorem ipsum..">
              <button class="c-input-action__button" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con azioni e input di ricerca.</p>
      </div>
    </div>
    <!-- / -->

  </div>
</div>