<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24">
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Matilda core
        </div>
      </div>
      <div class="c-card__body">
        <p>La documentazione ufficiale sull'utilizzo e la personalizzazione è mantenuta direttamente sulla <a target="blank" href="https://github.com/ideonetwork/matilda-core/wiki">repository Github</a>.</p>
        <p>Questa pagina è utilizzata principalmente per testare e mostrare i diversi elementi di UI utilizzabili.</p>
      </div>
    </div>
  </div>
</div>

<!-- *******************************************************
ESEMPIO: BUTTON ********************************************
******************************************************** -->
<div class="c-section__head">
  <h1 class="c-section__head-title">Button</h1>
  <div class="c-section__head-breadcrumb">
    <a class="c-section__head-breadcrumb-link">Documentazione</a>
    <a class="c-section__head-breadcrumb-link">Button</a>
  </div>
</div>
<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- BUTTON -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Button
        </div>
      </div>
      <div class="c-card__body">
        <p>Tutti i pulsanti sono identificati dalla classe <span class="code">.c-button</span>.</p>
        <button class="c-button">Default</button>
        <button class="c-button c-button--green">Green</button>
        <button class="c-button c-button--yellow">Yellow</button>
        <button class="c-button c-button--blue">Blue</button>
        <button class="c-button c-button--orange">Orange</button>
        <button class="c-button" disabled>Disabled</button>
        <button class="c-button c-button--black">Black</button>
        <button class="c-button c-button--cenere">Cenere</button>
        <button class="c-button c-button--transparent">Transparent</button>
        <button class="c-button c-button--block">Block</button>
      </div>
    </div>
    <!-- / -->

  </div>
</div>

<!-- *******************************************************
ESEMPIO: CARD **********************************************
******************************************************** -->
<div class="c-section__head">
  <h1 class="c-section__head-title">Card</h1>
  <div class="c-section__head-breadcrumb">
    <a class="c-section__head-breadcrumb-link">Documentazione</a>
    <a class="c-section__head-breadcrumb-link">Card</a>
  </div>
</div>
<div class="c-section__content c-grid__container-spaced">
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD GENERICA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card generica
        </div>
      </div>
      <div class="c-card__body">
        <p>Esempio base di utilizzo di una card.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD CON AZIONI -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con una azione.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD CON AZIONI MULTIPLE -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni multiple
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con multiple azioni.</p>
        <p>Le azioni sono mostrate utilizzando le flexbox orizzontali. Evitare di mettere troppe azioni nella stessa card altrimenti il mobile potrebbe dare risultati scorretti.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD CON RICERCA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con ricerca
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <div class="c-input-action">
              <input class="c-input-action__field" name="s" placeholder="Lorem ipsum..">
              <button class="c-input-action__button" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con input di ricerca.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD CON AZIONI E RICERCA -->
    <div class="c-card">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con azioni e ricerca
        </div>
        <ul class="c-card__header-actions">
          <li class="c-card__header-action">
            <div class="c-input-action">
              <input class="c-input-action__field" name="s" placeholder="Lorem ipsum..">
              <button class="c-input-action__button" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </li>
          <li class="c-card__header-action">
            <a class="c-button" href="#">Click me</a>
          </li>
        </ul>
      </div>
      <div class="c-card__body">
        <p>Esempio di utilizzo di una card con azioni e input di ricerca.</p>
      </div>
    </div>
    <!-- / -->

  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD SENZA OVERFLOW -->
    <div class="c-card c-card--unhidden">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card senza overflow
        </div>
      </div>
      <div class="c-card__body">
        <p>Di default tutte le card hanno l'impostazion eoverflow hidden per evitare che alcuni contenuti possano uscire dalla schermata.</p>
        <p>L'overflow può essere rimosso utilizzando la classe <span class="code">.c-card--unhidden</span>.</p>
      </div>
    </div>
    <!-- / -->
    
  </div>
  <div class="c-section__content-block c-grid__col c-grid__col--24">

    <!-- CARD CON SPAZIATURA FINALE -->
    <div class="c-card c-card--hasnext">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card con spaziatura finale
        </div>
      </div>
      <div class="c-card__body">
        <p>
        Di default la griglia contente le card è implementata con la componente <span class="code">.c-section</span>.
        Ogni section ha un margine sottostante utilizzato per dividere le diverse sezioni (gruppi di card) della schermata.
        </p>
        <p>Per simulare la stessa spaziatura presente tra una sezione e l'altra su una card basta utilizzare la classe <span class="code">.c-card--hasnext</span>.</p>
      </div>
    </div>
    <!-- / -->
    
  </div>

  <div class="c-section__content-block c-grid__col c-grid__col--24" style="width: 100%; height: 100vh; position: relative;">
    <div class="c-card c-card--centerpage">
      <div class="c-card__header">
        <div class="c-card__header-title">
          Card a centro pagina
        </div>
      </div>
      <div class="c-card__body">
        <p>Per eventuali schermate in cui la card è l'unico elemento visualizzato è possibile centrarla rispetto al contenitore (in posizione relativa o assoluta) utilizzando la classe <span class="code">.c-card--centerpage</span>.
      </div>
    </div>

  </div>
</div>
