<% full ||= false %>

<footer class="c-footer <%= full ? 'c-footer--full' : '' %>">
  <div class="c-footer__content">
    &copy; 2020 - Prodotto da <a href="#">1d3o</a> | Versione <%= MatildaCore.config.global_version %>
  </div>
</footer>
