// Breakpoints
// //////////////////////////////////////////

$breakpoint_xs: 580px;
$breakpoint_sm: 768px;
$breakpoint_md: 1024px;
$breakpoint_lg: 1281px;

// Colors
// //////////////////////////////////////////

$color_white: #ffffff;
$color_black: #2c3e50;
$color_cenere: #e8ebf1;
$color_primary: #34495e;
$color_blue: #00AEE3;
$color_green: #54B64E;
$color_yellow: #FEC542;
$color_orange: #EF662F;

$color_twitter: #55acee;
$color_linkedin: #007bb6;
$color_toggl: #e20505;
$color_dropbox: #005ff8;

// Sizes
// //////////////////////////////////////////

$size_header_height: 50px;
$size_sidebar_width: 200px;
