.matilda-container {
  $header_height: 64px;
  $sidebar_width: 250px;
  $sidebar_width_collapsed: 80px;

  .matilda-container__header {
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  .matilda-container__header-logo {
    float: left;
    margin-right: 15px;
  
    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
    }
  
    img {
      height: 30px;
    }
  }

  .matilda-container__header-menu {
    float: right;
  }

  .matilda-container__side {
    position: fixed;
    z-index: 1;
    width: $sidebar_width;
    height: calc(100% - #{$header_height});
    top: $header_height;
    overflow-y: auto;
  }

  .matilda-container__side-menu {
    height: 100%;
  }
  
  .matilda-container__content {
    min-height: 100vh;
    padding: 15px;
    margin-top: $header_height;
    
    &--sidebar {
      margin-left: $sidebar_width;
    }

    &--sidebar-collapsed {
      margin-left: $sidebar_width_collapsed;
    }
    
    &--authentication {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-left: 0;
    }
  }
}