.matilda-page-router {
  .matilda-page-router__breadcrumb {
    margin-bottom: 12px;
  }
  
  .matilda-page-router__main {
    background-color: #fff;
  }

  .matilda-page-router__main-menu {

  }

  .matilda-page-router__main-content {
    padding: 10px 20px;
  }
}
